html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
   background: url('../green-05.jpg') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: rgba(0,0,0,0.7);

}


/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

body > .container {
  padding: 60px 15px 0;
}
.container .text-muted {
  margin: 20px 0;
}

.footer > .container {
  padding-right: 15px;
  padding-left: 15px;
}


#navmain{
    
background: rgba(0, 0, 0, 0.9);
border: none;
max-height: 4% !important;
border-radius: 0px;
}

.mainheader{
    max-height: 4% !important;


}

#divlogo{
    
   font-size: 40px;
   
}

#pp{

}

#menuspan{
    
    color:white;
    font-size: 20px;
    padding: 10px;
}

#menuspan:hover{
    
    color: #1e7145;
}

.form-group{
    
    padding: 10px;
}


#bc{
    
    background-color: #00a300;
    color: white;
    margin-top: 10%;
    
}

.selew{
    
    color:white;
}

.navbar .dropdown-menu:after{
    
    color:white;
}